In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import csv

In [3]:
from datetime import datetime

In [4]:
df = pd.read_csv('df_Final.csv', sep = ';')[['Date','Close', 'Compound_Score', 'Total Volume of Tweets', 'Count_Negatives',
       'Count_Positives', 'Count_Neutrals', 'Sent_Negatives', 'Sent_Positives',
       'Count_News', 'Count_Bots']]

In [5]:
for i in df.Date:
    df["TimeStamp2"]=int(datetime.strptime(i, '%Y-%m-%d %H:%M:%S').timestamp())

In [6]:
df.shape

(12936, 12)

In [7]:
df.head()

,Date,Close,Compound_Score,Total Volume of Tweets,Count_Negatives,Count_Positives,Count_Neutrals,Sent_Negatives,Sent_Positives,Count_News,Count_Bots,TimeStamp2
0,2017-08-01 00:00:00,2825.92,0.082893,1027.0,139.0,347.0,397.0,-0.516620,0.417882,695.0,144.0,1548082800
1,2017-08-01 01:00:00,2853.38,0.053160,778.0,111.0,193.0,320.0,-0.423402,0.415385,493.0,154.0,1548082800
2,2017-08-01 02:00:00,2841.60,0.124251,836.0,89.0,273.0,264.0,-0.440938,0.428661,510.0,210.0,1548082800
3,2017-08-01 03:00:00,2862.93,-0.021037,984.0,250.0,236.0,314.0,-0.441173,0.396034,683.0,184.0,1548082800
4,2017-08-01 04:00:00,2874.99,0.055437,751.0,114.0,195.0,305.0,-0.414978,0.417159,517.0,137.0,1548082800

In [9]:
btc = pd.read_csv("historical_data_btc.csv")

In [10]:
btc.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
indexNames1 = btc[ (btc['Timestamp'] < 1501516800) | (btc['Timestamp'] > 1548082800) ].index
btc.drop(indexNames1 , inplace=True)

In [12]:
timer = [1501516800]
i=1501516800;

while(i<1548082800):
    i+=3600
    timer.append(i)

In [13]:
new=btc[btc['Timestamp'].isin(timer)]

In [14]:
new.shape

(12936, 8)

In [15]:
df.shape

(12936, 12)

In [16]:
clean_df = new.copy().reset_index()

In [17]:
clean_df.drop(columns=["index","Volume_(BTC)","Volume_(Currency)"], inplace=True)

In [18]:
y = pd.DataFrame(clean_df['Weighted_Price'])  # Response

In [19]:
ohlc_predictors= ["Open", "High", "Low","Close"]
d1 = clean_df[ohlc_predictors].reset_index()
d1.drop(columns=["index"],inplace=True)

In [20]:
sent_predictors= ['Compound_Score', 'Total Volume of Tweets']
d2 = df[sent_predictors].reset_index()
d2.drop(columns=["index"],inplace=True)

In [21]:
clean = pd.concat([d1, d2, y], axis=1)

In [22]:
clean.dropna(inplace=True)

In [21]:
clean.head()

,Open,High,Low,Close,Compound_Score,Total Volume of Tweets,Weighted_Price
0,2763.23,2763.24,2761.41,2762.00,0.082893,1027.0,2761.710702
1,2768.07,2772.97,2768.07,2768.07,0.053160,778.0,2772.411512
2,2779.77,2779.78,2779.77,2779.78,0.124251,836.0,2779.774992
3,2790.55,2793.25,2790.55,2790.55,-0.021037,984.0,2792.693685
4,2837.44,2837.44,2831.40,2831.40,0.055437,751.0,2832.734750

In [ ]:
clean.to_csv("Clean_DF.csv")