In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
import pandas as pd

In [3]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [3]:
df=pd.read_csv("Clean_DF.csv")

In [5]:
df.drop(columns=["Unnamed: 0"],inplace=True)

In [6]:
df.head()

,Open,High,Low,Close,Compound_Score,Total Volume of Tweets,Weighted_Price
0,2763.23,2763.24,2761.41,2762.00,0.082893,1027.0,2761.710702
1,2768.07,2772.97,2768.07,2768.07,0.053160,778.0,2772.411512
2,2779.77,2779.78,2779.77,2779.78,0.124251,836.0,2779.774992
3,2790.55,2793.25,2790.55,2790.55,-0.021037,984.0,2792.693685
4,2837.44,2837.44,2831.40,2831.40,0.055437,751.0,2832.734750
...,...,...,...,...,...,...,...
12115,3536.47,3538.27,3536.47,3538.27,0.048459,1060.0,3537.406211
12116,3548.22,3548.22,3543.23,3545.46,0.059675,978.0,3546.670863
12117,3545.73,3545.74,3545.73,3545.74,0.111140,917.0,3545.736842
12118,3543.39,3543.39,3543.39,3543.39,0.057693,929.0,3543.390000
12119,3535.07,3538.00,3533.89,3534.01,0.114312,899.0,3536.774719

In [7]:
predictors = ["Open", "High", "Low","Close","Total Volume of Tweets","Compound_Score"]

y = pd.DataFrame(df["Weighted_Price"])
X = pd.DataFrame(df[predictors])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

LinearRegression()

In [ ]:
linreg = LinearRegression()         
linreg.fit(X_train, y_train)

In [9]:
y_train_pred = linreg.predict(X_train)
y_test_pred = linreg.predict(X_test)

In [17]:
errors = mean_squared_error(y_test, y_test_pred, squared = False)
print("RMSE = "+errors)

4.796149894670889

In [16]:
errors2 = mean_absolute_error(y_test, y_test_pred)
print("MAE = "+errors2)

2.6250047699145336