In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
from sklearn.ensemble import RandomForestClassifier

In [3]:
import pandas as pd

In [4]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [5]:
from sklearn.model_selection import GridSearchCV

In [6]:
import numpy as np

In [7]:
df=pd.read_csv("Clean_DF.csv")

In [8]:
df.drop(columns=["Unnamed: 0"],inplace=True)

In [9]:
df.head()

      Open     High  ...  Total Volume of Tweets  Weighted_Price
0  2763.23  2763.24  ...                  1027.0     2761.710702
1  2768.07  2772.97  ...                   778.0     2772.411512
2  2779.77  2779.78  ...                   836.0     2779.774992
3  2790.55  2793.25  ...                   984.0     2792.693685
4  2837.44  2837.44  ...                   751.0     2832.734750

[5 rows x 7 columns]

In [10]:
predictors = ["Open", "High", "Low","Close","Total Volume of Tweets","Compound_Score"]

y = pd.DataFrame(df["Weighted_Price"])
X = pd.DataFrame(df[predictors])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [11]:
y_train=y_train.astype('int64')
y_test=y_test.astype('int64')

In [12]:
rforest = RandomForestClassifier(n_estimators = 100,  max_depth = 10)

In [13]:
rforest.fit(X_train, y_train.Weighted_Price.ravel())

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [14]:
y_train_pred = rforest.predict(X_train)

In [15]:
errors = mean_squared_error(y_train, y_train, squared = False)
print("RMSE = "+str(errors))

RMSE = 0.0

In [16]:
errors2 = mean_absolute_error(y_train, y_train_pred)
print("MAE = "+str(errors2))

MAE = 783.3564356435644